.column {
  display: flex;
  flex-direction: column;
  background-color: #00cceb ;
  color: black;
  margin: 0px 10px;
  
  flex: 1;
  /* text-wrap: true; */
  min-width: 100px;
  /* min-height: 300px; */
}

.column img {
  width: 50%;
  height: auto;
  margin: auto;
}