/* styles/Home.module.css */

/* Kontener strony */
.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding: 20px;
  gap: 20px;
}

/* Responsywność dla mniejszych ekranów */
@media (max-width: 600px) {
  .page {
    padding: 10px;
  }
}

/* Główna zawartość strony */
.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

/* Kontener kolumn z danymi pogodowymi */
.columnsContainer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;  /* Dla Internet Explorer i Edge */
  scrollbar-width: none;     /* Dla Firefox */
}

/* Ukrycie paska przewijania dla Chrome, Safari i Opera */
.columnsContainer::-webkit-scrollbar {
  display: none;
}

/* Stylizacja pojedynczej kolumny */
.column {
  flex: 0 0 auto;
  scroll-snap-align: center;
  margin-right: 16px; /* Odstęp między kolumnami */
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 120px;
}

/* Responsywność dla większych ekranów */
@media (min-width: 768px) {
  .columnsContainer {
    flex-wrap: wrap;
    overflow-x: hidden;
  }

  .column {
    flex: 1 1 calc(10% - 16px); /* Trzy kolumny w rzędzie */
  }
}

/* Dodanie paska przewijania poziomego dla mniejszych ekranów */
@media (max-width: 600px) {
  .columnsContainer {
    overflow-x: scroll;
    scrollbar-width: auto; /* Dla Firefox */
  }

  .columnsContainer::-webkit-scrollbar {
    display: block; /* Dla Chrome, Safari i Opera */
  }
}

/* Kontener podsumowania tygodniowego */
.weeklySummary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: beige;
  color: #000;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Stylizacja pojedynczego parametru */
.parametr {
  flex: 1 1 calc(33.333% - 32px);
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsywność dla mniejszych ekranów */
@media (max-width: 767px) {
  .parametr {
    flex: 1 1 100%;
  }
}

/* Kontener przycisków CTA */
.ctas {
  display: flex;
  gap: 16px;
}

/* Stylizacja przycisków CTA */
.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

/* Stylizacja przycisku primary */
a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

/* Stylizacja przycisku secondary */
a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

/* Kontener stopki */
.footer {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
}

/* Stylizacja linków w stopce */
.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Stylizacja obrazków w stopce */
.footer img {
  flex-shrink: 0;
}

/* Stylizacja hover dla przycisków CTA */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

/* Stylizacja dla trybu ciemnego */
@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}